@using System.Configuration
<!DOCTYPE html>
<!--
    Parallelism by HTML5 UP
    html5up.net | n33co
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="~/Images/favicon.png" />

    <!--[if lte IE 8]>
        @Scripts.Render("~/bundles/html5shiv")
    <![endif]-->
    
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato:400,900' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600' rel='stylesheet' type='text/css'>
    
    
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css" />

    @Styles.Render("~/Content/main")
    <link href="~/Content/bootstrap.public.css" rel="stylesheet" />

    <noscript><link rel="stylesheet" href="~/assets/css/noscript.css" /></noscript>
    <!--[if lte IE 8]><link rel="stylesheet" href="@Url.Content("~")assets/css/ie8.css" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="@Url.Content("~")assets/css/ie9.css" /><![endif]-->

    

</head>
<body>

    <div class="buyBox" style="display:none;">

        <button type="button" class="btn btn-primary" onclick="showPayPalModal();">
            Buy now
        </button>
        <span class="pull-right">
            <text class="numberOfPicsSelected"></text> selected (£ <text class="costOfPics"></text>)
        </span>
    </div>

    <div id="wrapper" style="clear:both ;">

        <div id="main">

            <div id="reel">

                <!-- Header Item -->

                <div id="header" class="item" data-width="400" style="background-image: url('../Images/logo2.png'); background-repeat: no-repeat; background-position: right top;">
                    <div class="inner">

                        @RenderSection("header", required: false)


                    </div>
                </div>

                @RenderBody()

            </div>
        </div>

        <div id="footer">
            <div class="left">

                <p>
                    @*
                        <button type="button" class="btn btn-lg" data-toggle="modal" data-target="#payPalModal">
                            Buy
                        </button>
                    *@

                    Buy and download images using your secure viewing code

                    <span style="font-size: 0.7em;">
                        <br />
                        If you do not already have your specific viewing
                        code please contact me and I shall send it to you.
                    </span>
                </p>
            </div>
            <div class="right">
                <ul class="contact">
                    <li><a href="https://twitter.com/&#64;MItrueimage" class="icon fa-twitter" target="twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="https://www.flickr.com/people/100037543@N03" class="icon fa-flickr" target="flickr"><span class="label">Instagram</span></a></li>
                    <li><a href="https://www.facebook.com/MitrueimagePhotography?_rdr=p" class="icon fa-facebook" target="facebook"><span class="label">Facebook</span></a></li>
                    <li><a href="mailto:karenljones@hotmail.co.uk" class="icon fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Mi-True Image</li>
                    <li>Version @ConfigurationManager.AppSettings["Environment"]</li>
                    <li><a href="http://www.mi-trueimage.co.uk" target="mitrueimage">mi-trueimage</a></li>
                    <li><a href="http://www.builditloveit.com" target="builditloveit">Built by builditloveit.com</a></li>

                </ul>

            </div>
        </div>


    </div>

    <!-- Scripts -->
    <script src="~/assets/js/jquery.min.js"></script>
    <script src="~/assets/js/jquery.poptrox.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/assets/js/skel.min.js"></script>
    <script src="~/assets/js/skel-viewport.min.js"></script>
    <script src="~/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="@Url.Content("~")assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/assets/js/main.js"></script>

    <script>
        (function () {
            "use strict";
            window.app = window.app || {};                  // top level parent module
            window.app.models = {};                         // JSON transportation
            window.app.helpers = {};
            window.app.api = {};
        }());

        app.helpers.log = function (obj) {
            if (typeof console != "undefined") {
                if (typeof obj == "string") {
                    console.log(obj);
                    return obj;
                } else {
                    var fmt = JSON.stringify(obj);
                    console.log(fmt);
                    return fmt;
                }
            }

            return "";
        };

        app.api.callApi = function (data, url, isAsync, callbackSuccess, callbackError) {

            return $.ajax({
                //url: '@Url.Content("~")' + url,
                url: url,
                type: 'POST',
                data: JSON.stringify(data),
                contentType: 'application/json; charset=utf-8',
                success: function (data, success) {
                    if (callbackSuccess) {
                        callbackSuccess(data);
                    }
                },
                error: function (error) {
                    if (callbackError) {
                        callbackError(error);
                    } else {
                        app.helpers.log(error);
                    }
                },
                async: isAsync
            });
        };

    </script>

    @RenderSection("scripts", required: false)

    @if (ConfigurationManager.AppSettings["Environment"] == "live")
    {
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-64123874-2', 'auto');
            ga('send', 'pageview');

        </script>
    }

    <!-- Modal -->
    <div class="modal fade" id="payPalModal" tabindex="-1" role="dialog" aria-labelledby="payPalModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong style="color: #808080">
                        You have selected

                        <text class="numberOfPicsSelected"></text> images (£ <text class="costOfPics"></text>)
                    </strong>
                    @*
                        <h4 class="modal-title" id="payPalModalLabel" style="color: #808080">Ready to purchase your images</h4>
                    *@
                </div>
                <div class="modal-body" style="color: #808080">
                    <p style="font-size: 0.8em;">
                        <strong style="color: #000">PLEASE READ THIS BEFORE PROCEEDING </strong><br />

                        You may select as many images as you like before you proceed to buy.

                        On purchase we will email you to the address you provided PayPal.
                        The email will contain a link to Dropbox to download a digital copy
                        of your image/s. Hard copies will NOT be provided.
                        You do not need to register with, or install, dropbox to obtain your images.

                    </p>
                </div>
                <div class="modal-footer">
                    @*<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>*@
                    @*<button type="button" class="btn btn-primary" onclick="submitPayPal();">Proceed to PayPal</button>*@
                    <div id="paypal-button"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div class="modal fade" id="pleaseWait" tabindex="-1" role="dialog" aria-labelledby="pleaseWaitLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="color: #54c005">
                    Payment successfully received
                </div>
                <div class="modal-body" style="color: #808080">
                    <p style="font-size: 0.8em;">
                        Your payment has been taken.
                        <br />
                        We're just processing things to get your images ready.
                        <br />
                        Please be patient, it won't take long :-)
                    </p>
                </div>
            </div>
        </div>
    </div>


</body>
</html>